/* Common color codes
    Navy blue: #11122b
	dark blue: #245f86
	light blue: #398AC1
    white: #FFFFFF 
    dark grey: #3e4348 */

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: white;
    text-decoration: none;
    font-family: 'Esteban', serif;
}

a {
    color: #245f86;
    font-family: 'Esteban', serif;
    text-decoration: none
}

body { 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button {
    font-family: 'Esteban', serif;
}

.map iframe {
    width: 100%;
    height: 330px;
    display: block;
}

