/* function section */
.function-wrapper {
    background-image: url(../Pictures/Backgrounds/Scrap-background.jpg);
    height: 230px;
    padding: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .function-wrapper > .top-heading {
    padding: 2px 15px;
    background-color: #398AC1;
    color: #ffffff;
    width: 335px;
    margin-bottom: 15px;
    border-radius: 10px;
} */

.function-wrapper > .bottom-heading {
    padding: 2px 15px;
    background-color: #245f86;
    color: #ffffff;
    width: 255px;
    border-radius: 10px;
}

.about-button {
    padding: 2px 15px;
    background-color: #398AC1;
    color: #ffffff;
    width: 345px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #398AC1;
    outline: none;
    transition: 0.5s;
}

.about-button:hover {
    background-color: #cbcbcb;
    border: 1px solid #cbcbcb;
    color: black;
}



/* feature section */
.feature-wrapper {
    background-image: url(../Pictures/Backgrounds/feature-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 15px solid white;
    box-shadow: inset 0px -131px 64px -93px rgba(0, 0, 0, 0.58);
}

.feature-wrapper div {
    padding: 20px;
    width: 300px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
}

.feature-wrapper > .column-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.feature-wrapper > .column-wrapper div:hover {
    border-bottom: 5px solid #245f86;
}

.feature-wrapper > .column-wrapper a {
    text-decoration: none;
}

.feature-wrapper > .column-wrapper i {
    font-size: 1.7em;
    color: white;
}

.feature-wrapper > .column-wrapper h1 {
    color: #245f86;
}